<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016096505401-ioajk9t150bk7opku0c81ikj6rtoi3sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016096505401-ioajk9t150bk7opku0c81ikj6rtoi3sq</string>
	<key>API_KEY</key>
	<string>AIzaSyBJpIFB4JvNsVpFQdD_SetXroXVYBGpW5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1016096505401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.healthai</string>
	<key>PROJECT_ID</key>
	<string>animal-care-2c460</string>
	<key>STORAGE_BUCKET</key>
	<string>animal-care-2c460.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016096505401:ios:cfff1d4cc2a21a3ba317e8</string>
</dict>
</plist>